.article {
    display: flex;
    flex-wrap: wrap;
}
/*.media_article {
    width: 300px;
    height: auto;
}*/
.info_article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title_article {
    a{
        font-family: 'Roboto';
        font-size: $font-size-h1;
        color: $title-text-color;
        text-decoration: none;
    }
}
.intro_article {
    font-family: 'Roboto';
    font-size: $font-size-base;
    color: $text-color;
}
.author_details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.photo_author{
    padding: 0 10px;
    img{
        border-radius: 50%;
        width: 50px;
        height: auto;
    }
}
.info_author {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 10px;
}
.ilikecomment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.ilike_comments {
    button{
        height: 30px;
        width: 70px;
        font-family: 'Roboto';
        font-size: 10px;
        margin: 0;
    }
}
.number_comments {
    padding-left: 10px;
    a{
        font-family: 'Roboto';
        font-size: 10px;
        color: $title-text-color;
        text-decoration: none;
    }
}
@include if-mobile{
    .article{
        flex-direction: column;
        align-items: center;
        padding-top: 3.5vh;
    }
    .info_article{
        width: 85vw;
        padding: 15px 0; 
    }
    .media_article{
        height: 150px;
    }
    .intro_article{
        padding: 10px 0 5px 0;
    }
    .author_details{
        padding: 5px 0;
    }
    .ilikecomment{
        padding: 5px 0;
    }
    #img-1{
        background-image: url(img/Dunkerque-200px.jpg);
        background-repeat: no-repeat;
        box-shadow: 2px 2px 4px $photo-shadow-color;
        width: 200px;
        height: 200px;
    }
    #img-2{
        background-image: url(img/JusticeLeague-200px.jpg);
        background-repeat: no-repeat;
        box-shadow: 2px 2px 4px $photo-shadow-color;
        width: 200px;
        height: 130px;
    }
}
@include if-mobile-landscape{
    .article{
        flex-direction: row;
        align-items: center;
        padding-top: 3.5vh;
    }
    .info_article{
        width: 85vw;
        padding: 15px 0; 
    }
    .media_article{
        height: 150px;
    }
    .intro_article{
        padding: 10px 0 5px 0;
    }
    .author_details{
        padding: 5px 0;
    }
    .ilikecomment{
        padding: 5px 0;
    }
    #img-1{
        background-image: url(img/Dunkerque-250px.jpg);
        background-repeat: no-repeat;
        box-shadow: 2px 2px 4px $photo-shadow-color;
        width: 250px;
        height: 250px;
    }
}
@include if-tablet{
    #img-1{
        background-image: url(img/Dunkerque-250px.jpg);
        background-repeat: no-repeat;
        width: 250px;
        height: auto;
    }
    .article-1{
        height: 250px;
    }
}
@include if-desktop{
    #img-1{
        background-image: url(img/Dunkerque-300px.jpg);
        background-repeat: no-repeat;
        width: 300px;
        height: auto;
    }
    .article-1{
        flex-direction: row;
        height: 300px;
    }
}