.comments-list {
    margin-top: 55px;

    .ui-status { display: none; }
    &.empty {
        .ui-status.empty { display: block; }
    }
    &.loading {
        .ui-status.loading { display: block; }
    }
    &.error {
        .ui-status.error { display: block; }
    }
    &.ideal {
        .ui-status.ideal { 
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            max-width: 1024px;
         }
    }

    &.empty, &.loading, &.error {
        font-size: $font-size-large;
        text-align: center;
        padding: 50px;
    }

    .comment {
        box-sizing: border-box;
        width: 200px;
        float: left;
        background: $color-6;
        padding: 15px;
        margin: 10px 5px;
        max-height: 240px;
        overflow: hidden;
        @include if-mobile-landscape {
            width: calc(25% - 10px);
        }
        .author_comment {
            margin-top: 5px;
        }
        .email_comment {
            font-weight: bold;
            margin-top: 10px;
        }
        .text_comment {
            width: 100%;
            margin-top: 10px;
        }
    }

}