.footer {
    font-family: 'Roboto';
    font-size: $font-size-small;
    color: white;
    background-color: $footer-color;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    a{
        text-decoration: none;
        color: white;
    }
}
.goup{
    padding-bottom: 5px;
}