<article class="articles">
    <div class="media_article" id="img-1">
        <img src="../img/Dunkerque.jpg" alt="Dunkerque">
    </div>
    <div class="info_article">
        <div class="title_article">
            <a href="../detailpage.html">Dunkerque</a>
        </div>
        <div class="intro_article">
            Lorem fistrum pupita papaar papaar ese hombree por la gloria de mi madre al ataquerl pecador jarl qué dise usteer se calle ustée. No te digo trigo por no llamarte Rodrigor ese hombree está la cosa muy malar papaar papaar ahorarr benemeritaar.
        </div>
        <div class="author_details">
            <div class="photo_author">
                <img src="../img/Autor.jpg" alt="Autor">
            </div>
            <div class="info_author">
                <div class="author_name">
                    Christian Gallego
                </div>
                <div class="author_date">
                    <time datetime="2012-10-15T12:00" pubdate="pubdate">Fecha</time>
                </div>
            </div>
        </div>
        <div class="ilikecomment">
            <div id="ilike1" class="ilike_comments">
                <button type="button">Me gusta</button>
            </div>
            <div class="number_comments">
                <a href="../detailpage.html">3 Comentarios</a>
            </div>
        </div>
    </div>
</article>