<section class="articles">
    <article class="article">
        <div class="media_article" id="img-1">
        </div>
        <div class="info_article">
            <div class="title_article">
                <a href="../detailpage.html">Dunkerque</a>
            </div>
            <div class="intro_article">
                Lorem fistrum pupita papaar papaar ese hombree por la gloria de mi madre al ataquerl pecador jarl qué dise usteer se calle
                ustée. No te digo trigo por no llamarte Rodrigor ese hombree está la cosa muy malar papaar papaar ahorarr
                benemeritaar.
            </div>
            <div class="details">
                <div class="author_details">
                    <div class="photo_author">
                        <img src="https://image.freepik.com/iconos-gratis/perfil-silueta-usuario_318-40557.jpg" alt="Autor">
                    </div>
                    <div class="info_author">
                        <div class="author_name">
                            Christian Gallego
                        </div>
                        <div class="author_date">
                            <time class="author_date_time" pubdate="pubdate">2017-07-21T20:24:17Z</time>
                        </div>
                    </div>
                </div>
                <div class="ilikecomment">
                    <div id="ilike-1" class="ilike_comments">
                        <button type="button" id="ilike-1">Me gusta</button>
                    </div>
                    <div class="number_comments">
                        <a href="../detailpage.html#tocomments">3 Comentarios</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="article">
        <div class="media_article" id="img-2">
        </div>
        <div class="info_article">
            <div class="title_article">
                <a href="../detailpage.html">La Liga de la Justicia</a>
            </div>
            <div class="intro_article">
                Lorem fistrum pupita papaar papaar ese hombree por la gloria de mi madre al ataquerl pecador jarl qué dise usteer se calle
                ustée. No te digo trigo por no llamarte Rodrigor ese hombree está la cosa muy malar papaar papaar ahorarr
                benemeritaar.
            </div>
            <div class="details">
                <div class="author_details">
                    <div class="photo_author">
                        <img src="img/Autor-150px.jpg" alt="Autor">
                    </div>
                    <div class="info_author">
                        <div class="author_name">
                            Christian Gallego
                        </div>
                        <div class="author_date">
                            <time class="author_date_time" pubdate="pubdate">2017-08-26T20:24:17Z</time>
                        </div>
                    </div>
                </div>
                <div class="ilikecomment">
                    <div id="ilike-2" class="ilike_comments">
                        <button type="button">Me gusta</button>
                    </div>
                    <div class="number_comments">
                        <a href="../detailpage.html#tocomments">3 Comentarios</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="article">
        <div class="media_article" id="img-3">
        </div>
        <div class="info_article">
            <div class="title_article">
                <a href="../detailpage.html">Abracadabra</a>
            </div>
            <div class="intro_article">
                Lorem fistrum pupita papaar papaar ese hombree por la gloria de mi madre al ataquerl pecador jarl qué dise usteer se calle
                ustée. No te digo trigo por no llamarte Rodrigor ese hombree está la cosa muy malar papaar papaar ahorarr
                benemeritaar.
            </div>
            <div class="details">
                <div class="author_details">
                    <div class="photo_author">
                        <img src="https://image.freepik.com/iconos-gratis/perfil-silueta-usuario_318-40557.jpg" alt="Autor">
                    </div>
                    <div class="info_author">
                        <div class="author_name">
                            Christian Gallego
                        </div>
                        <div class="author_date">
                            <time class="author_date_time" pubdate="pubdate">2017-08-04T20:24:17Z</time>
                        </div>
                    </div>
                </div>
                <div class="ilikecomment">
                    <div id="ilike-3" class="ilike_comments">
                        <button type="button">Me gusta</button>
                    </div>
                    <div class="number_comments">
                        <a href="../detailpage.html#tocomments">2 Comentarios</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="article">
        <div class="media_article" id="img-4">
        </div>
        <div class="info_article">
            <div class="title_article">
                <a href="../detailpage.html">La Torre Oscura</a>
            </div>
            <div class="intro_article">
                Lorem fistrum pupita papaar papaar ese hombree por la gloria de mi madre al ataquerl pecador jarl qué dise usteer se calle
                ustée. No te digo trigo por no llamarte Rodrigor ese hombree está la cosa muy malar papaar papaar ahorarr
                benemeritaar.
            </div>
            <div class="details">
                <div class="author_details">
                    <div class="photo_author">
                        <img src="img/Autor-150px.jpg" alt="Autor">
                    </div>
                    <div class="info_author">
                        <div class="author_name">
                            Christian Gallego
                        </div>
                        <div class="author_date">
                            <time class="author_date_time" pubdate="pubdate">2017-08-18T20:24:17Z</time>
                        </div>
                    </div>
                </div>
                <div class="ilikecomment">
                    <div id="ilike-4" class="ilike_comments">
                        <button type="button">Me gusta</button>
                    </div>
                    <div class="number_comments">
                        <a href="../detailpage.html#tocomments">1 Comentarios</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="article">
        <div class="media_article" id="img-5">
        </div>
        <div class="info_article">
            <div class="title_article">
                <a href="../detailpage.html">Emoji</a>
            </div>
            <div class="intro_article">
                Lorem fistrum pupita papaar papaar ese hombree por la gloria de mi madre al ataquerl pecador jarl qué dise usteer se calle
                ustée. No te digo trigo por no llamarte Rodrigor ese hombree está la cosa muy malar papaar papaar ahorarr
                benemeritaar.
            </div>
            <div class="details">
                <div class="author_details">
                    <div class="photo_author">
                        <img src="img/Autor-150px.jpg" alt="Autor">
                    </div>
                    <div class="info_author">
                        <div class="author_name">
                            Christian Gallego
                        </div>
                        <div class="author_date">
                            <time class="author_date_time" pubdate="pubdate">2017-07-28T20:24:17Z</time>
                        </div>
                    </div>
                </div>
                <div class="ilikecomment">
                    <div id="ilike-5" class="ilike_comments">
                        <button type="button">Me gusta</button>
                    </div>
                    <div class="number_comments">
                        <a href="../detailpage.html#tocomments">4 Comentarios</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="article">
        <div class="media_article" id="img-6">
        </div>
        <div class="info_article">
            <div class="title_article">
                <a href="../detailpage.html">El Rey Arturo</a>
            </div>
            <div class="intro_article">
                Lorem fistrum pupita papaar papaar ese hombree por la gloria de mi madre al ataquerl pecador jarl qué dise usteer se calle
                ustée. No te digo trigo por no llamarte Rodrigor ese hombree está la cosa muy malar papaar papaar ahorarr
                benemeritaar.
            </div>
            <div class="details">
                <div class="author_details">
                    <div class="photo_author">
                        <img src="img/Autor-150px.jpg" alt="Autor">
                    </div>
                    <div class="info_author">
                        <div class="author_name">
                            Christian Gallego
                        </div>
                        <div class="author_date">
                            <time class="author_date_time" pubdate="pubdate">2017-08-11T20:24:17Z</time>
                        </div>
                    </div>
                </div>
                <div class="ilikecomment">
                    <div id="ilike-6" class="ilike_comments">
                        <button type="button">Me gusta</button>
                    </div>
                    <div class="number_comments">
                        <a href="../detailpage.html#tocomments">3 Comentarios</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="article">
        <div class="media_article" id="img-7">
        </div>
        <div class="info_article">
            <div class="title_article">
                <a href="../detailpage.html">Spiderman. Homecoming</a>
            </div>
            <div class="intro_article">
                Lorem fistrum pupita papaar papaar ese hombree por la gloria de mi madre al ataquerl pecador jarl qué dise usteer se calle
                ustée. No te digo trigo por no llamarte Rodrigor ese hombree está la cosa muy malar papaar papaar ahorarr
                benemeritaar.
            </div>
            <div class="details">
                <div class="author_details">
                    <div class="photo_author">
                        <img src="img/Autor-150px.jpg" alt="Autor">
                    </div>
                    <div class="info_author">
                        <div class="author_name">
                            Christian Gallego
                        </div>
                        <div class="author_date">
                            <time class="author_date_time" pubdate="pubdate">2017-07-28T20:24:17Z</time>
                        </div>
                    </div>
                </div>
                <div class="ilikecomment">
                    <div id="ilike-7" class="ilike_comments">
                        <button type="button">Me gusta</button>
                    </div>
                    <div class="number_comments">
                        <a href="../detailpage.html#tocomments">2 Comentarios</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="article">
        <div class="media_article" id="img-8">
        </div>
        <div class="info_article">
            <div class="title_article">
                <a href="../detailpage.html">Transformers</a>
            </div>
            <div class="intro_article">
                Lorem fistrum pupita papaar papaar ese hombree por la gloria de mi madre al ataquerl pecador jarl qué dise usteer se calle
                ustée. No te digo trigo por no llamarte Rodrigor ese hombree está la cosa muy malar papaar papaar ahorarr
                benemeritaar.
            </div>
            <div class="details">
                <div class="author_details">
                    <div class="photo_author">
                        <img src="img/Autor-150px.jpg" alt="Autor">
                    </div>
                    <div class="info_author">
                        <div class="author_name">
                            Christian Gallego
                        </div>
                        <div class="author_date">
                            <time class="author_date_time" pubdate="pubdate">2017-08-04T20:24:17Z</time>
                        </div>
                    </div>
                </div>
                <div class="ilikecomment">
                    <div id="ilike-8" class="ilike_comments">
                        <button type="button">Me gusta</button>
                    </div>
                    <div class="number_comments">
                        <a href="../detailpage.html#tocomments">5 Comentarios</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="article">
        <div class="media_article" id="vid-1">
            <iframe width="350" height="170" src="https://www.youtube.com/embed/CmRih_VtVAs" frameborder="0" allowfullscreen></iframe>

        </div>
        <div class="info_article">
            <div class="title_article">
                <a href="../detailpage.html">Suicide Squad</a>
            </div>
            <div class="intro_article">
                Lorem fistrum pupita papaar papaar ese hombree por la gloria de mi madre al ataquerl pecador jarl qué dise usteer se calle
                ustée. No te digo trigo por no llamarte Rodrigor ese hombree está la cosa muy malar papaar papaar ahorarr
                benemeritaar.
            </div>
            <div class="details">
                <div class="author_details">
                    <div class="photo_author">
                        <img src="img/Autor-150px.jpg" alt="Autor">
                    </div>
                    <div class="info_author">
                        <div class="author_name">
                            Christian Gallego
                        </div>
                        <div class="author_date">
                            <time class="author_date_time" pubdate="pubdate">2017-08-04T20:24:17Z</time>
                        </div>
                    </div>
                </div>
                <div class="ilikecomment">
                    <div id="ilike-9" class="ilike_comments">
                        <button type="button">Me gusta</button>
                    </div>
                    <div class="number_comments">
                        <a href="../detailpage.html#tocomments">6 Comentarios</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="article">
        <div class="media_article" id="vid-2">
            <iframe width="350" height="170" src="https://www.youtube.com/embed/T6DJcgm3wNY" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="info_article">
            <div class="title_article">
                <a href="../detailpage.html">The Man of Steel</a>
            </div>
            <div class="intro_article">
                Lorem fistrum pupita papaar papaar ese hombree por la gloria de mi madre al ataquerl pecador jarl qué dise usteer se calle
                ustée. No te digo trigo por no llamarte Rodrigor ese hombree está la cosa muy malar papaar papaar ahorarr
                benemeritaar.
            </div>
            <div class="details">
                <div class="author_details">
                    <div class="photo_author">
                        <img src="img/Autor-150px.jpg" alt="Autor">
                    </div>
                    <div class="info_author">
                        <div class="author_name">
                            Christian Gallego
                        </div>
                        <div class="author_date">
                            <time class="author_date_time" pubdate="pubdate">2017-08-04T20:24:17Z</time>
                        </div>
                    </div>
                </div>
                <div class="ilikecomment">
                    <div id="ilike-10" class="ilike_comments">
                        <button type="button">Me gusta</button>
                    </div>
                    <div class="number_comments">
                        <a href="../detailpage.html#tocomments">6 Comentarios</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<div class="paginacion">
    <ul class="paginas">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>