<form novalidate class="comments-form">

    <div class="ui-status error">Se ha producido un error</div>

    <div class="ui-status loading">Guardando comentario...</div>

    <div class="ui-status ideal">
        <div class="form-control-group">
            <label for="author">Nombre y Apellidos</label>
            <input type="text" id="author" name="author" placeholder="Nombre y Apellidos" required>
        </div>
        <div class="form-control-group">
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" placeholder="E-mail" required>
        </div>
        <div class="form-control-group">
            <label for="comment">Deja aquí tu comentario</label>
            <input type="text" id="comment_text" name="comment" placeholder="Escribe tu comentario" required>
        </div>
        <div class="form-control-group">
            <button>Guardar</button>
        </div>
    </div>
    
</form>