<header class="web-header">
    <div class="header1">
        <h1 class="web-title">ChrisMedium<span class="sign">Sign <a href="">Up</a> / <a href="">In</a></span></h1>
        <span class="buscador"><input type="text" id="buscador" name="buscador" placeholder="Buscar"></span>
        <span class="category"><a href="">Categoría1</a></span>
        <span class="category"><a href="">Categoría2</a></span>
        <span class="category"><a href="">Categoría3</a></span>
    </div>
    <div class="articles_categories">
        
    </div>
</header>