// Font families
$main-font-family: 'Zilla Slab', serif;
$title-font-family: 'Bree Serif', serif;
$body-font-family: $main-font-family;
$text-font-family: 'Roboto';

// Font sizes
$font-size-base: 15px;
$font-size-small: $font-size-base - 5px;
$font-size-large: $font-size-base + 5px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;

// Base colors
$color-1: #F8695B;
$color-2: #AEB6BF;
$color-3: #85929E;
$color-4: #808080;
$color-5: #E0E0E0;
$color-6: white;
$color-7: #FDFEFE;

// Main components colors
$color-background: $color-7;
$main-text-color: $color-2;
$main-text-boldcolor: $color-4;
$title-text-color: $color-4;
$text-color: $color-5;
$links-color: $color-1;
$header-color: $color-2;
$header-color-efect: $color-3;
$header-text-color: $color-6;
$footer-color: $color-2;

// Forms colors
$form-input-border-color: $color-2;
$form-input-outline-color: $color-2;
$form-button-background-color: $color-2;
$form-button-font-color: $color-5;
$form-error-background-color: $color-1;
$form-error-font-color: $color-5;

//Colors Efects
$photo-shadow-color: $color-4;

// Responsive
$mobile-portrait-width: 414px;
$mobile-landscape-width: 767px;
$tablet-portrait-width: $mobile-landscape-width + 1;
$tablet-landscape-width: 1024px;